{
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true,
    "FileReader": true,
    "File": true,
    "Blob": true,
    "console": true,
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
